@model IEnumerable<VSMS.Models.DataModels.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}

<h2>Member Manager</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">List Member</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Order</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a href="@Url.Action("CreateOrder","Order", new { id = item.Id})" id="addRecordOrder" class="btn btn-primary"><i class="fas fa-tag"></i></a>
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","Members", new { id = item.Id})" class="btn btn-success"><i class="fas fa-edit"></i></a>
                        <a href="@Url.Action("Details","Members", new { id = item.Id})" class="btn btn-info"><i class="fas fa-info"></i></a>
                        <a href="#" class="btn btn-danger delete-click" id="@item.Id"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
    </div>
</div>
@section scripts{
    <script>
        $(".delete-click").click(function () {
            var cf = confirm(" Are you sure delete this record?");
            if (cf) {
                var id = $(this).attr('id');
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("DeleteMember")",
                    data: { id: id },
                    success: function (rs) {
                        if (rs) {
                            toastr.success(
                                'Delete record successfully!',
                                'Notification!',
                                {
                                    timeOut: 1000,
                                    fadeOut: 1000,
                                    onHidden: function () {
                                        window.location.reload();
                                    }
                                }
                            );
                        }
                    },
                    error: function (msg) {
                        toastr.error("Delete record fail!","Notification!");
                    }
                });
            }
        });
    </script>
}
