@model VSMS.Models.DataModels.Member

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutPageManager.cshtml";
    ViewBag.NameTitle = "Change Password";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @if (@TempData["messenger"] != null)
        {
            <div class="alert @TempData["dataType"]" id="alert" role="alert">
                @TempData["messenger"]
            </div>
        }
        <div class="form-group">
            <label class="control-label col-md-3">Old Password</label>
            <div class="col-md-9">
                <input type="password" name="Oldpass" id="Oldpass" value="@if (ViewData["OldPass"] != null) {@ViewData["OldPass"]}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">New Password</label>
            <div class="col-md-9">
                <input type="password" name="PassWord" id="PassWord" value="@if (ViewData["PassWord"] != null) {@ViewData["PassWord"]}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Confirm Password</label>
            <div class="col-md-9">
                <input type="password" name="Repass" id="Repass" value="@if (ViewData["Repass"] != null) {@ViewData["Repass"]}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" id="subForm" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        @*$("#subForm").on("click", function () {
            var _id = $("#Id").val();
            var _oldpass = $("#Oldpass").val();
            var _pass = $("#PassWord").val();
            var _repass = $("#Repass").val();

            if (_oldpass != _pass) {
                $("#alert").html("Old Password Incorrect!");
                $("#alert").removeAttr('hidden');
                alert(_oldpass + "    " + _pass);
                return false;
            }
            if (_pass != _repass) {
                $("#alert").html("Confirm password incorrect!");
                $("#alert").removeAttr('hidden');
                return false;
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangePassword","ManagerMember")",
                data: { id: _id, PassWord: _pass },
                success: function (rs) {
                    console.log("Success");
                }
            });
        });*@
    </script>
}
