@model VSMS.Models.DataModels.Member

@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_LayoutPageManager.cshtml";
    ViewBag.NameTitle = "Email";
}
<style>
    .is-valid {
        border-color: #198754;
        padding-right: calc(1.5em + .75rem);
        background-image: url(/Content/svg/tick.svg);
        background-repeat: no-repeat;
        background-position: right calc(.375em + .1875rem) center;
        background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    }

    .is-invalid {
        border-color: #dc3545;
        padding-right: calc(1.5em + .75rem);
        background-image: url(/Content/svg/alert.svg);
        background-repeat: no-repeat;
        background-position: right calc(.375em + .1875rem) center;
        background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-12" style="margin-bottom: 10px;">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-12 was-validated">
                <input type="text" class="form-control @((Model.EmailConfirmed) ? "is-valid" : "is-invalid")" readonly id="validationCustom01" value="@Model.Email">
                <div class="@((Model.EmailConfirmed) ? "valid-feedback" : "invalid-feedback")">
                    @{
                        if (Model.EmailConfirmed)
                        {
                            <p>Your email verified!</p>
                        }
                        else
                        {
                            <p>Your email unverified!</p>
                            <a href="@Url.Action("ResendEmail","Register", new { id = Model.Id })" class="btn-link"> Resend the confirmation email </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}