@model IEnumerable<VSMS.Models.Permission>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}

<h2>Permission Manager</h2>

@*<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary"})
</p>*@
<div class="card">
    <div class="card-header">
        <h3 class="card-title">List Permission</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                        @((item.Status)?"Don't delete":"Can delete")
                    </td>
                    <td>
                        @*<a href="@Url.Action("Edit","Permissions", new { id = item.PerId})" class="btn btn-success"><i class="fas fa-edit"></i></a>*@
                        <a href="@Url.Action("Details","Permissions", new { id = item.PerId})" class="btn btn-info"><i class="fas fa-info"></i></a>
                        @*<a href="@Url.Action("Delete","Permissions", new { id = item.PerId})" class="btn btn-danger"><i class="fas fa-trash"></i></a>*@
                    </td>
                </tr>
            }

        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
    </div>
</div>


