@model IEnumerable<VSMS.Models.Permission>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary"})
</p>*@
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
            @((item.Status)?"Don't delete":"Can delete")
        </td>
        <td>
            @*<a href="@Url.Action("Edit","Permissions", new { id = item.PerId})" class="btn btn-success"><i class="fas fa-edit"></i></a>*@
            <a href="@Url.Action("Details","Permissions", new { id = item.PerId})" class="btn btn-info"><i class="fas fa-info"></i></a>
            @*<a href="@Url.Action("Delete","Permissions", new { id = item.PerId})" class="btn btn-danger"><i class="fas fa-trash"></i></a>*@
        </td>
    </tr>
}

</table>
