@model VSMS.Models.DataModels.Member
@{
    ViewBag.Title = "CreateOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Add New Record Order Of Member <span class="text-danger" id="txtNameMember">@Model.FullName</span></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="POST" action="@Url.Action("CreateOrder","Order")">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label>Member </label>
                                    <input type="text" class="form-control" hidden name="IdMember" value="@Model.Id" disabled>
                                    <input type="text" class="form-control" value="@Model.FullName" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Category</label>
                                    @Html.DropDownList("CatId", null, "-- Select Cat --", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Car List By Category</label>
                                    <select class="form-control" name="CarId" id="carByCateDropDownList">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input type="number" id="quantity" class="form-control" name="Quantity" min="1" max="10">
                                </div>

                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="Status" name="Status" checked>
                                    <label class="form-check-label" for="exampleCheck1">
                                        Status(Waiting for review)
                                    </label>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning" })
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#CatId").on("change", function () {
                $('#carByCateDropDownList').empty();
                var id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("getCars","Order")",
                    data: { id: id },
                    success: function (rs) {
                        if (rs != "") {
                            $.each(rs, function (i, item) {
                                $('#carByCateDropDownList').append($('<option>', {
                                    value: item.Id,
                                    text: item.CarName
                                }));
                            });
                        } else {
                            $('#carByCateDropDownList').append($('<option>', {
                                value: "",
                                text: "-- Nothing --"
                            }));
                        }
                    }
                 });
            });
        });

        // chuc nang them moi order
        function AddNewRecordOrder(idMember) {
            var res = validate();
            if (res == false) {
                return false;
            }

            var empObj = {
                MemberId: idMember,
                CarId: $('#carByCateDropDownList').val(),
                Quantity: $('#quantity').val(),
                Total: 0, // set data after
            };

            $.ajax({
                url: "/Admin/Order/CreateNewOrderRecord",
                type: "POST",
                data: empObj,
                success: function (rs) {
                    if (rs.success == 1) {
                        toastr.success('Add Order Seccess!', 'Notification!', { timeOut: 2000 });
                    } else {
                        toastr.error('Add Order False!', 'Notification!', { timeOut: 2000 });
                    }
                },
                error: function (e) {
                    console.log(e.responseText);
                }
            });
        }



        //Valdidation using jquery
        function validate() {
            var isValid = true;
            if ($('#cateDropDownList option:selected').length == 0) {
                $('#cateDropDownList').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#cateDropDownList').css('border-color', 'lightgrey');
            }
            if ($('#carByCateDropDownList option:selected').length == 0) {
                $('#carByCateDropDownList').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#carByCateDropDownList').css('border-color', 'lightgrey');
            }
            if ($('#quantity').val().trim() == "") {
                $('#quantity').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#quantity').css('border-color', 'lightgrey');
            }
            return isValid;
        }
    </script>
}