@model IEnumerable<VSMS.Models.ViewModels.ListOrderViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}
<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <br />
            <a href="@Url.Action("Index", "Members")" class="btn btn-success">Create Order</a>
        </div>
        <span class="text-danger">@TempData["error"]</span>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h3>Orders of Car</h3>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Member Name</th>
                                    <th>Car Name</th>
                                    <th>Total</th>
                                    <th>Created By</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="tbodyOrder">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><a class="btn btn-link" href="@Url.Action("Details","Members", new { id = item.IdMember})">@item.FullName</a></td>
                                        <td>@item.CarName</td>
                                        <td><b>$@item.Total</b></td>
                                        <td><b>@item.NameAdmin</b></td>
                                        <td>
                                            @{
                                                if (item.Status == 0)
                                                {
                                                    <span style="color: gray"><b>Unpaid</b></span>
                                                }
                                                else if (item.Status == 1)
                                                {
                                                    <span style="color: green"><b>Paid</b></span>
                                                }
                                                else if (item.Status == 2)
                                                {
                                                    <span style="color: red"><b>Different</b></span>
                                                }
                                            }
                                        </td>
                                        <td class="text-center">
                                            @{
                                                if (item.Status == 0)
                                                {
                                                    <a href="#" data-idOdPay="@item.IdOrder" class="btn btn-info details-click" data-toggle="modal" data-target="#exampleModal" id="paypay">Pay</a>
                                                }
                                            }
                                            <a href="#" id="delOrder" data-idOdPay="@item.IdOrder" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.card-body -->
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <!--Carousel Wrapper-->
                        <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails"
                             data-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner add-carousel" role="listbox">
                                @*Add carousel*@

                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                            @*<ol class="carousel-indicators">
                                    <li data-target="#carousel-thumb" data-slide-to="0" class="active">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg" width="60">
                                    </li>
                                    <li data-target="#carousel-thumb" data-slide-to="1">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg" width="60">
                                    </li>
                                    <li data-target="#carousel-thumb" data-slide-to="2">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg" width="60">
                                    </li>
                                </ol>*@
                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                    <div class="col-lg-7">
                        <h2 class="h2-responsive product-name">
                            <strong id="PName"></strong>
                        </h2>
                        <h4 class="h4-responsive">
                            <span class="green-text">
                                Total: <strong id="PTotal"></strong>
                            </span>
                        </h4>

                        <!--Accordion wrapper-->
                        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingOne1">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                       aria-controls="collapseOne1">
                                        <h5 class="mb-0">
                                            Car Infomation <i class="fas fa-angle-down rotate-icon float-right"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>Model: <b style="display: block"><span id="PModel">ABC</span></b></p>
                                                <p>Category: <b style="display: block"><span id="PCategory">ABC</span></b></p>
                                                <p>Year: <b style="display: block"><span id="PYear">ABC</span></b></p>
                                                <p>Price: <b style="display: block"><span id="PPrice">ABC</span></b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Engine: <b style="display: block"><span id="PEngine">ABC</span></b></p>
                                                <p>FuelType: <b style="display: block"><span id="PFuelType">ABC</span></b></p>
                                                <p>Transmission: <b style="display: block"><span id="PTransmission">ABC</span></b></p>
                                                <p>Quantity: <b style="display: block"><span id="PQuantity">ABC</span></b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingTwo2">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                       aria-expanded="false" aria-controls="collapseTwo2">
                                        <h5 class="mb-0">
                                            Customer Infomation <i class="fas fa-angle-down rotate-icon float-right"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>Full Name: <b style="display: block"><span id="MFn">ABC</span></b></p>
                                                <p>Email: <b style="display: block"><span id="MEmail">ABC</span></b></p>
                                                <p>Address: <b style="display: block"><span id="MAdd">ABC</span></b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Date of birth: <b style="display: block"><span id="MDob">ABC</span></b></p>
                                                <p>Phone: <b style="display: block"><span id="MPhone">ABC</span></b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingThree3">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                                       aria-expanded="false" aria-controls="collapseThree3">
                                        <h5 class="mb-0">
                                            Agent Staff <i class="fas fa-angle-down rotate-icon float-right"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="card-img" style="border-radius: 50%;" src="" alt="Avatar" id="SImg" />
                                            </div>
                                            <div class="col-md-3">
                                                <p>Staff ID: <b><span id="SId" style="display:block;">ABC</span></b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Name: <b><span id="SName" style="display:block;">ABC</span></b></p>
                                                <p>Email: <b><span id="SEmail" style="display:block;">ABC</span></b></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->

                        </div>
                        <!-- Accordion wrapper -->
                        <!-- Add to Cart -->
                        <div class="card-body">
                            <div class="text-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style=" background-color: #a6c !important;">Close</button>
                                <button class="btn btn-primary" id="sureInfoPay" data-dismiss="modal" type="button">
                                    I'm sure
                                    <i class="fas fa-check ml-2" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.Add to Cart -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false, "searching": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                maximumSignificantDigits: 5
            });
            $(".details-click").click(function () {
                var dataIdPay = $(this).attr("data-idOdPay");
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("getInfOrder")",
                    data: { id: dataIdPay },
                    success: function (rs) {
                        // Car information
                        $("#PName").text(rs.data.CarName);
                        $("#PTotal").text(formatter.format(rs.data.Total));
                        $("#PModel").text(rs.car.ModeName);
                        $("#PCategory").text(rs.car.CateName);
                        $("#PYear").text(rs.car.Year);
                        $("#PPrice").text(rs.car.Price);
                        $("#PEngine").text(rs.car.Engine);
                        $("#PFuelType").text(rs.car.FuelType);
                        $("#PTransmission").text(rs.car.Transmission);
                        $("#PQuantity").text(rs.data.Quantity);
                        // Customer information
                        $("#MFn").text(rs.mem.FullName);
                        $("#MEmail").text(rs.mem.Email);
                        $("#MAdd").text(rs.mem.Address);
                        $("#MDob").text(rs.mem.BirthDay);
                        $("#MPhone").text(rs.mem.Phone);
                        // Staff information
                        $("#SImg").attr("src", rs.staff.Avatar);
                        $("#SId").text(rs.staff.Id);
                        $("#SName").text(rs.staff.Name);
                        $("#SEmail").text(rs.staff.Email);
                        var carousel = "";
                        var count = 1;
                        // Image processing
                        $.each(rs.img, function (key, item) {
                            if (count == 1) {
                                carousel += '<div class="carousel-item active">';
                            } else {
                                carousel += '<div class="carousel-item">';
                            }
                            carousel += '<img class="d-block w-100" style="height: 200px" src="' + item.ImageName +'" alt = "'+ count +' slide" >';
                            carousel += '</div>';
                            count++;
                        });
                        $(".carousel-inner.add-carousel").html(carousel);
                    }, error: function (e) {
                        alert(e.responseText);
                    }
                });
            });
            $(document).on("click", "#sureInfoPay", function () {
                var dataIdPay = $("#paypay").attr("data-idOdPay");
                var cf = confirm("Are your sure this pay car!");
                if (cf) {
                    $.ajax({
                        url: "/Admin/Order/UpdatePay",
                        type: "GET",
                        data: { id: dataIdPay },
                        success: function (rs) {
                            if (rs.success == 1) {
                                toastr.success(
                                    'Pay Success!',
                                    'Notification!',
                                    {
                                        timeOut: 1000,
                                        fadeOut: 1000,
                                        onHidden: function () {
                                            window.location.reload();
                                        }
                                    });
                            } else {
                                toastr.error('Pay False!', 'Notification!', { timeOut: 2000 });
                            }
                        }, error: function (e) {
                            alert(e.responseText);
                        }
                    });
                }
            });
            $("#delOrder").click(function () {
                var dataIdPay = $(this).attr("data-idOdPay");
                var cf = confirm("Are your sure?");
                if (cf) {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("DeletePay")",
                        data: { id: dataIdPay },
                        success: function (rs) {
                            if (rs.success == 1) {
                                toastr.success(
                                    'Delete Pay Success!',
                                    'Notification!',
                                    {
                                        timeOut: 1000,
                                        fadeOut: 1000,
                                        onHidden: function () {
                                            window.location.reload();
                                        }
                                    });
                            } else {
                                toastr.error('Delete Pay False!', 'Notification!', { timeOut: 2000 });
                            }
                        }, error: function (e) {
                            alert(e.responseText);
                        }
                    });
                }
            });
        });
    </script>
}


