@model IEnumerable<VSMS.Models.ViewModels.ListOrderViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}
<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <br />
            <a href="@Url.Action("Index", "Members")" class="btn btn-success">Create Order</a>
        </div>
        <span class="text-danger">@TempData["error"]</span>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h3>Orders of Car</h3>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Member Name</th>
                                    <th>Car Name</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="tbodyOrder">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><a class="btn btn-link" href="@Url.Action("Details","Members", new { id = item.IdMember})">@item.FullName</a></td>
                                        <td>@item.CarName</td>
                                        <td><b>$@item.Total</b></td>
                                        <td>
                                            @{
                                                if (item.Status == 0)
                                                {
                                                    <span style="color: gray"><b>Unpaid</b></span>
                                                }
                                                else if (item.Status == 1)
                                                {
                                                    <span style="color: green"><b>Paid</b></span>
                                                }
                                                else if (item.Status == 2)
                                                {
                                                    <span style="color: red"><b>Different</b></span>
                                                }
                                            }
                                        </td>
                                        <td class="text-center">
                                            @{
                                                if (item.Status == 0)
                                                {
                                                    <a href="#" data-idOdPay="@item.IdOrder" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" id="paypay">Pay</a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.card-body -->
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Info Pay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You definitely want to pay this bill ! ^-^
            </div>
            <div class="modal-footer">
                <button id="sureInfoPay" type="button" class="btn btn-primary" data-dismiss="modal">I'm sure</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false, "searching": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).on("click", "#sureInfoPay", function () {
                var dataIdPay = $("#paypay").attr("data-idOdPay");
                $.ajax({
                    url: "/Admin/Order/UpdatePay",
                    type: "GET",
                    data: { id: dataIdPay },
                    success: function (rs) {
                        if (rs.success == 1) {
                            toastr.success(
                                'Pay Success!',
                                'Notification!',
                                {
                                    timeOut: 1000,
                                    fadeOut: 1000,
                                    onHidden: function () {
                                        window.location.reload();
                                    }
                                });
                        } else {
                            toastr.error('Pay False!', 'Notification!', { timeOut: 2000 });
                        }
                    }, error: function (e) {
                        alert(e.responseText);
                    }
                });
            });
        });
    </script>
}


