@model IEnumerable<VSMS.Models.Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}

<h2>Account Manager</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">List Account</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Permission</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @{
                            if (item.Status)
                            {
                                <a href="@Url.Action("ChangeStatus","Account", new { id = item.Id})" id="Status" name="Status" value="@item.Id" class="btn btn-success"><i id="icon-status" class="fas fa-thumbs-up"></i></a>
                            }
                            else
                            {
                                <a href="@Url.Action("ChangeStatus","Account", new { id = item.Id})" id="Status" name="Status" value="@item.Id" class="btn btn-danger"><i id="icon-status" class="fas fa-thumbs-down"></i></a>
                            }
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("SetPermission","Account", new { id = item.Id})" class="btn btn-dark"><i class="fas fa-user-tag"></i></a>
                        <a href="@Url.Action("ChangePassword","Account", new { id = item.Id})" class="btn btn-secondary"><i class="fas fa-key"></i></a>
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","Account", new { id = item.Id})" class="btn btn-success"><i class="fas fa-edit"></i></a>
                        <a href="@Url.Action("Details","Account", new { id = item.Id})" class="btn btn-info"><i class="fas fa-info"></i></a>
                        <a href="#" class="btn btn-danger delete-click" id="@item.Id"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }

        </table>

    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
    </div>
</div>

@section scripts{
    <script>
        $(".delete-click").click(function () {
            var cf = confirm(" Are you sure delete this record?");
            if (cf) {
                var id = $(this).attr('id');
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("DeleteAccount")",
                    data: { id: id },
                    success: function (rs) {
                        if (rs) {
                            toastr.success(
                                'Delete record successfully!',
                                'Notification!',
                                {
                                    timeOut: 1500,
                                    fadeOut: 1500,
                                    onHidden: function () {
                                        window.location.reload();
                                    }
                                }
                            );
                        } else {
                            toastr.error("Cannot delete Admin account!");
                        }
                    },
                    error: function (msg) {
                        toastr.error("Delete record fail!","Notification!");
                    }
                });
            }
        });
    </script>
}
