@model VSMS.Models.DataModels.Car
@{ var customer = Session["customer"] as VSMS.Models.DataModels.Member;}
@{
    ViewBag.Title = Model.CarName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.HiddenFor(model => model.Id)
<div class="tt-breadcrumb">
    <div class="container">
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Inventory", "Home")">inventory</a></li>
            <li>@Model.CarName</li>
        </ul>
    </div>
</div>
<div id="tt-pageContent">
    <div class="container-indent-05">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <a href="@Url.Action("Inventory", "Home")" class="tt-link-back">RETURN TO INVENTORY</a>
                    <div class="tt-title-single">
                        <h1 class="tt-title">@Model.CarName</h1>
                        <div class="tt-description">@Model.Engine</div>
                    </div>
                    <div class="tt-aside-btn visible-xs">
                        <a href="#" class="btn btn-color02 cc" data-toggle="modal" data-target="#modalAddTestDrive" id="open-Modal" data-id="@Model.Id"><i class="icon-testdrive"></i>TEST DRIVE</a>
                        <a href="#" class="btn btn-color02 compare-toggle"><i class="icon-compare"></i>COMPARE</a>
                    </div>
                    <!-- mobile product slider  -->
                    <div class="tt-mobile-product-layout visible-xs">
                        <div class="tt-mobile-product-slider arrow-location-center slick-animated-show-js">
                            @foreach (var item in ViewBag.ImageProduct as IEnumerable<VSMS.Models.ViewModels.DetailsCarViewModel>)
                            {
                                <div><img src="@item.ImageName" alt=""></div>
                            }
                            <div>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/bQz2Er3K8t8" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div>
                                <div class="tt-video-block">
                                    <a href="#" class="link-video"></a>
                                    <video class="movie" src="video/video.mp4" poster="video/video_img.jpg"></video>
                                </div>
                            </div>
                        </div>
                        <div class="tt-label-location">
                            <span class="tt-label-promo">Great Deal!</span>
                        </div>
                    </div>
                    <div class="tt-layout-preview hidden-xs">
                        <div class="tt-product-single-img">
                            <div class="tt-label-location">
                                <span class="tt-label-promo">Great Deal!</span>
                            </div>
                            <div>
                                <img class="zoom-product" src='@ViewBag.ip' data-zoom-image="@ViewBag.ip" alt="" style="height: 400px; width: 100%">
                            </div>
                        </div>
                        <div class="product-images-carousel">
                            <ul id="smallGallery" class="tt-arrow-center-small slick-animated-show-js">
                                @foreach (var item in ViewBag.ImageProduct as IEnumerable<VSMS.Models.ViewModels.DetailsCarViewModel>)
                                {
                                    <li><a class="zoomGalleryActive" href="#" data-image="@item.ImageName" data-zoom-image="@item.ImageName"><img src="@item.ImageName" alt="" style="height: 100px" /></a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="tt-box-indent">
                        <h6 class="tt-title-single-sub">Features</h6>
                        <div class="row">
                            @{
                                var ft = ViewBag.feature as IEnumerable<VSMS.Models.ViewModels.FeatureViewModel>;
                                var i = 0;
                                var count = ft.Count();
                            }
                            @foreach (var item in ft)
                            {
                                if (i < count / 2)
                                {
                                    <div class="col-md-6">
                                        <ul class="tt-list03">

                                            <li><a href="#">@item.Name</a></li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-6">
                                        <ul class="tt-list03">
                                            <li><a href="#">@item.Name</a></li>
                                        </ul>
                                    </div>
                                }
                                i++;
                            }
                        </div>
                    </div>
                    <div class="tt-box-indent">
                        <h6 class="tt-title-single-sub">Vehicle Overview</h6>
                        @Model.Descriptions
                    </div>
                    <div class="tt-box-indent">
                        <h6 class="tt-title-single-sub">
                            Contact Us About this Car
                        </h6>
                        <form class="tt-form-default02 tt-form-review">
                            <div class="tt-form-aside">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Your name*">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="name" class="form-control" placeholder="E-mail*">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Message" id="textareaMessage"></textarea>
                                </div>
                                <a href="#" class="btn">ASK A QUESTION</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-4 js-sticky-sidebar">
                    <div class="tt-aside03-layout">
                        <div class="tt-aside-btn hidden-xs">
                            @if (customer != null)
                            {
                                <a href="javascript:void(0)" class="btn btn-color02" data-toggle="modal" data-target="#modalAddTestDrive" id="open-Modal" data-id="@Model.Id"><i class="icon-testdrive"></i>TEST DRIVE</a>

                            }
                            else
                            {
                                <a href="javascript:void(0)" class="btn btn-color02" data-toggle="modal" data-target="#SiginModal" id="open-Modal" data-id="@Model.Id"><i class="icon-testdrive"></i>TEST DRIVE</a>

                            }
                            <a href="#" class="compare-toggle btn btn-color02"><i class="icon-compare"></i>COMPARE</a>
                        </div>
                        <div class="tt-aside-promo">
                            <div class="tt-wrapper">
                                <div class="tt-value">$@Model.Price</div>
                                <p>
                                    Taxes &amp; Licensing included
                                </p>
                                <a href="#" class="btn btn-xl">ADD TO CART</a>
                            </div>
                            <div class="tt-info">
                                Estimated Loan Payment:  <span>$1151/mo</span>
                            </div>
                        </div>
                        <div class="tt-aside03-box">
                            <h6 class="tt-aside03-title">Options</h6>
                            <div class="tt-aside03-content">
                                <table class="tt-table-options">
                                    <tbody>
                                        <tr>
                                            <td>MILEAGE:</td>
                                            <td>22,224 miles </td>
                                        </tr>
                                        <tr>
                                            <td>FUEL TYPE:</td>
                                            <td>@Model.FuelType</td>
                                        </tr>
                                        <tr>
                                            <td>YEAR:</td>
                                            <td>@ViewBag.year</td>
                                        </tr>
                                        <tr>
                                            <td>TRANSMission:</td>
                                            <td>@Model.Transmission</td>
                                        </tr>
                                        <tr>
                                            <td>Drive Type:</td>
                                            <td>Front Wheel Drive</td>
                                        </tr>
                                        <tr>
                                            <td>Color:</td>
                                            <td>Jet Black</td>
                                        </tr>
                                        <tr>
                                            <td>Int. Color:</td>
                                            <td>Cabernet Premium</td>
                                        </tr>
                                        <tr>
                                            <td>VIN:</td>
                                            <td>JTJHY7AX6H42</td>
                                        </tr>
                                        <tr>
                                            <td>Engine:</td>
                                            <td>@Model.Engine </td>
                                        </tr>
                                        <tr>
                                            <td>Stock number:</td>
                                            <td>215838</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tt-aside-btn">
                            <a href="services-item.html" class="btn btn-fullwidth"><i class="icon-tradein2"></i>TRADE-IN SERVICE</a>
                            <a href="#" class="btn btn-color02 btn-fullwidth" data-toggle="modal" data-target="#modalOfferPrice"><i class="icon-price-tag1"></i>MAKE AN OFFER PRICE</a>
                        </div>
                        <div class="tt-aside-calculator">
                            <form class="tt-form-default">
                                <div class="tt-wrapper-top">
                                    <h6 class="tt-calculator-title">
                                        <span class="icon-calculator"></span>
                                        Financing<br>Calculator
                                    </h6>
                                    <div class="tt-calculator-content">
                                        <div class="tt-form-aside">
                                            <div class="form-group">
                                                <label>Vehicle price ($)</label>
                                                <input type="number" class="form-control" placeholder="50 000">
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Interest rate (%)</label>
                                                        <input type="number" class="form-control" placeholder="3">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Period (month)</label>
                                                        <input type="number" class="form-control" placeholder="24">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Dawn Payment ($)</label>
                                                <input type="number" class="form-control" placeholder="2000">
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-fullwidth">CALCULATE</a>
                                    </div>
                                </div>
                                <div class="tt-wrapper-bottom">
                                    <ul class="tt-data-output">
                                        <li>Monthly Payment <span>$1 151.94</span></li>
                                        <li>Total Interest Payment <span>$845.56</span></li>
                                        <li>Total Amount to Pay <span>$29 646.56</span></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-indent">
        <div class="container">
            <div class="tt-block-title">
                <h3 class="tt-title">You May Also Be Interested In</h3>
            </div>
            <div class="js-carousel-col-4 tt-slider-product tt-arrow-center slick-alignment-arrows">
                @foreach (var item in ViewBag.Cars as IEnumerable<VSMS.Models.DataModels.Car>)
                {
                    <div>
                        <div class="tt-product-02">
                            <div class="tt-image-box">
                                @foreach (var ip in ViewBag.ipl as IEnumerable<VSMS.Models.ViewModels.ListCarViewModel>)
                                {
                                    if (ip.IdProduct == item.Id)
                                    {
                                        <a href="@Url.Action("InventoryItem","Home", new { id = item.Id})" class="tt-img">
                                            <img src="@ip.ImageName" alt="" style="height: 170px">
                                            <span class="tt-label-location">
                                                <span class="tt-label-promo">
                                                    Great Deal!
                                                </span>
                                            </span>
                                            <span class="tt-data">118,000 miles</span>
                                        </a>
                                        <ul class="tt-icon">
                                            <li><a href="#" class="tooltip" data-toggle="modal" title="TEST-DRIVE" data-target="#modalAddTestDrive" id="open-Modal" data-id="@Model.Id"><i class="icon-testdrive"></i></a></li>
                                            <li><a href="@ip.ImageName" title="GALLERY" class="tooltip tt-btn-zomm"><i class="icon-photo-camera"></i></a></li>
                                            <li><a href="#" title="COMPARE" class="tooltip compare-toggle"><i class="icon-compare"></i></a></li>
                                        </ul>
                                    }
                                }
                            </div>
                            <div class="tt-wrapper-description">
                                <div class="tt-box-title">
                                    <h2 class="tt-title"><a href="@Url.Action("InventoryItem","Home", new { id = item.Id})">@item.CarName </a></h2>
                                    <div class="tt-description">
                                        @item.Engine
                                    </div>
                                </div>
                                <div class="tt-box-price">
                                    <span class="tt-text">List:</span>
                                    <span class="tt-price">$@item.Price</span>
                                </div>
                                <ul class="tt-icon">
                                    <li><a href="#" class="tooltip cc" data-toggle="modal" title="TEST-DRIVE" data-target="#modalAddTestDrive" id="open-Modal" data-id="@Model.Id"><i class="icon-testdrive"></i></a></li>
                                    <li><a href="images/product_02/product_02_img_01.jpg" title="GALLERY" class="tooltip tt-btn-zomm"><i class="icon-photo-camera"></i></a></li>
                                    <li><a href="#" title="COMPARE" class="tooltip compare-toggle"><i class="icon-compare"></i></a></li>
                                </ul>
                                <div class="tt-btn">
                                    <a href="@Url.Action("InventoryItem","Home", new { id = item.Id})" class="tt-btn-moreinfo">more info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container-indent container-indent-03 tt-mobile-hidden">
        <div class="tt-map">
            <a href="#" class="tt-btn-toggle"></a>
            <div class="tt-box-map">
                <div id="googleMapFooter" class="google-map"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalVideoProduct" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-video">
        <div class="modal-content ">
            <div class="modal-body modal-layout-dafault">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon-close"></span></button>
                <div class="modal-video-content">

                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary" id="cc">Click test</button>
<!-- modal (AddTestDrive) -->
<!-- modal (AddTestDrive) -->
