@model IEnumerable<VSMS.Models.DataModels.Car>
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tt-breadcrumb">
    <div class="container">
        <ul>
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li>INVENTORY</li>
        </ul>
    </div>
</div>
<div id="tt-pageContent">
    <div class="container-indent-04">
        <div class="container">
            <div class="tt-block-title tt-sub-pages">
                <h1 class="tt-title">Inventory</h1>
                <div class="tt-description">New and Used Inventory Listings</div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-3 col-xl-3 leftColumn tt-aside02 desctop-no-sidebar" id="aside-js">
                    <div class="tt-wrapper-aside">
                        <div class="tt-label-aside">
                            <a href="#" class="tt-btn-col-close"><i class="icon-close"></i></a>
                            <div class="tt-icon">
                                <i class="icon-carsearch"></i>
                            </div>
                            <div class="tt-title">
                                Search Our <br>Inventory
                            </div>
                        </div>
                        <div class="tt-aside-box">
                            <div class="tt-content">
                                <div id="tt-filters-aside" class="tt-filters-aside">
                                    <div class="tt-col-select tt-skinSelect-01">
                                        <div class="tt-item">
                                            @Html.DropDownList("Cat", null, "-- Category --", new { @class = "tt-select" })
                                        </div>
                                        <div class="tt-item">
                                            @Html.DropDownList("Mode", null, "-- Model --", new { @class = "tt-select" })
                                        </div>
                                    </div>
                                    <div class="tt-col-price">
                                        <h3 class="tt-aside-title">Price</h3>
                                        <div class="tt-slider-price">
                                            <div id="slider-snap"></div>
                                            <div class="slider-value-row">
                                                <div id="slider-snap-value-lower" class="slider-value"></div>
                                                <div id="slider-snap-value-upper" class="slider-value"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tt-col-btn">
                                        <button type="button" class="btn btn-color02" id="BtnReset">RESET FILTERS</button>
                                        <button type="button" class="btn" id="BtnFilter"><i class="icon-filer"></i>FILTER</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tt-wrapper-aside">
                        <div class="tt-aside-box">
                            <h3 class="tt-aside-title">Search</h3>
                            <div class="tt-content">
                                <div class="tt-form-search tt-form-default">
                                    <div class="tt-item">
                                        <input type="text" placeholder="SEARCH">
                                    </div>
                                    <div class="tt-item">
                                        <a href="#" class="btn"><i class="icon-musica-searcher"></i>SEARCH</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="js-sticky-panel-wrap">
                        <div class="tt-filters-fullwidth js-sticky-panel" id="tt-filters-fullwidth">
                        </div>
                    </div>
                    <div class="tt-filters-options">
                        <div class="tt-btn-toggle" id="tt-btn-toggle-js">
                            <a href="#"></a>
                        </div>
                        <div class="tt-sort tt-col tt-skinSelect-01">
                            <select class="tt-select">
                                <option value="" disabled selected>Default Sorting</option>
                                <option value="Default Sorting">Default Sorting 02</option>
                                <option value="Default Sorting">Default Sorting 03</option>
                            </select>
                            <div class="tt-sort-total">
                                <strong>79</strong> RESULTS
                            </div>
                        </div>
                        <div class="tt-quantity">
                            <a href="#" class="icon-grid active" data-value="icon-listing"></a>
                            <a href="#" class="tt-grid-switch icon-listing"></a>
                        </div>
                    </div>
                    <div id="tt-product-listing" class="tt-product-listing row">
                        @foreach (var item in Model)
                        {

                            <div class="col-6 col-md-4 col-lg-3 tt-col-item">
                                <div class="tt-product-02">
                                    <div class="tt-image-box">
                                        @foreach (var ip in ViewBag.ip as IEnumerable<VSMS.Models.ViewModels.ListCarViewModel>)
                                        {
                                            if (ip.IdProduct == item.Id)
                                            {
                                                <a href="@Url.Action("InventoryItem","Home", new { id = item.Id})" class="tt-img">

                                                    <img src="@ip.ImageName" alt="" style="height: 170px">

                                                    <span class="tt-label-location">
                                                        <span class="tt-label-promo">
                                                            Good
                                                        </span>
                                                    </span>
                                                    <span class="tt-data"></span>
                                                </a>

                                                <ul class="tt-icon">
                                                    <li><a href="#" class="tooltip" title="TEST-DRIVE" data-toggle="modal" data-target="#modalAddTestDrive" id="open-Modal" data-id="@item.Id"><i class="icon-testdrive"></i></a></li>
                                                    <li>
                                                        <a href="@ip.ImageName" title="GALLERY" class="tooltip tt-btn-zomm"><i class="icon-photo-camera"></i></a>
                                                    </li>
                                                    <li><a href="#" title="COMPARE" class="tooltip compare-toggle"><i class="icon-compare"></i></a></li>
                                                </ul>
                                            }
                                        }
                                    </div>
                                    <div class="tt-wrapper-description">
                                        <div class="tt-row-01">
                                            <div class="tt-box-title">
                                                <h2 class="tt-title"><a href="@Url.Action("InventoryItem","Home", new { id = item.Id})">@item.CarName</a></h2>
                                                <div class="tt-description">
                                                    @item.Descriptions
                                                </div>
                                            </div>
                                            <div class="tt-box-price">
                                                <span class="tt-text">Price: </span>
                                                <span class="tt-price">$@item.Price</span>
                                                <span class="tt-info"><span></span></span>
                                            </div>
                                        </div>
                                        <ul class="tt-icon">
                                            <li>
                                                <a href="#" class="tooltip" title="TEST-DRIVE" data-toggle="modal" data-target="#modalAddTestDrive" id="open-Modal" data-id="@item.Id"><i class="icon-testdrive"></i></a>
                                            </li>
                                            <li><a href="~/Content/images/product_02/product_02_img_01.jpg" title="GALLERY" class="tooltip tt-btn-zomm"><i class="icon-photo-camera"></i></a></li>
                                            <li><a href="#" title="COMPARE" class="tooltip compare-toggle"><i class="icon-compare"></i></a></li>
                                        </ul>
                                        <div class="tt-row-02">
                                            <ul class="tt-add-info">
                                                <li>
                                                    <span class="col-title"></span>
                                                    <span class="col-designation"></span>
                                                </li>
                                                <li>
                                                    <span class="col-title"></span>
                                                    <span class="col-designation"></span>
                                                </li>
                                                <li>
                                                    <span class="col-title"></span>
                                                    <span class="col-designation"></span>
                                                </li>
                                                <li>
                                                    <span class="col-title"></span>
                                                    <span class="col-designation"></span>
                                                </li>
                                            </ul>
                                            <ul class="tt-add-info">
                                                <li>
                                                    <span class="col-title"></span>
                                                    <span class="col-designation"></span>
                                                </li>
                                                <li>
                                                    <span class="col-title"></span>
                                                    <span class="col-designation"></span>
                                                </li>
                                                <li>
                                                    <span class="col-title"></span>
                                                    <span class="col-designation"></span>
                                                </li>
                                                <li>
                                                    <span class="col-title"></span>
                                                    <span class="col-designation"></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tt-btn">
                                            <a href="@Url.Action("InventoryItem","Home", new { id = item.Id})" class="tt-btn-moreinfo">More info</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="tt-pagination">
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">8</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-indent container-indent-03 tt-mobile-hidden">
        <div class="tt-map">
            <a href="#" class="tt-btn-toggle"></a>
            <div class="tt-box-map">
                <div id="googleMapFooter" class="google-map"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $("#BtnReset").bind("click", function () {
            
        });
    </script>
}

