@model IEnumerable<VSMS.Models.ViewModels.DriveTestViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">

        </div>
        <span class="text-danger">@TempData["error"]</span>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h3>Drive Test</h3>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Car Name</th>
                                    <th>Member Name</th>
                                    <th>Date Registe Test</th>
                                    <th>Date Create</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="bodyDriveTest">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td> @item.Id</td>
                                        <td> @item.CarName</td>
                                        <td> <a class="btn btn-link" href="@Url.Action("Details","Members", new { id = item.MemberId})">@item.MemberName</a></td>
                                        <td> @item.Note</td>
                                        <td> @item.CreatedAt.ToString("yyyy-MM-dd")</td>
                                        <td>
                                            @{
                                                if (item.Status == 0)
                                                {
                                                    <span style="color: red">Unconfirmed</span>
                                                }
                                                else if (item.Status == 1)
                                                {
                                                    <span style="color: green">Confirmed</span>
                                                }
                                                else if (item.Status == 2)
                                                {
                                                    <span style="color: gray">Driven</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (item.Status == 0)
                                                {
                                                    <a href="#" class="btn btn-success accept-click" data-id="@item.Id" data-status="@item.Status">Confirm</a>
                                                }
                                                else if (item.Status == 1)
                                                {
                                                    <a href="#" class="btn btn-primary accept-click" data-id="@item.Id" data-status="@item.Status">Driven</a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.card-body -->
    </div>

</div>
@section Scripts{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false, "searching": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".accept-click").click(function () {
                var id = $(this).attr("data-id");
                var stt = $(this).attr("data-status");
                var cf = confirm("Are you sure?");
                if (cf) {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("changeStatus")",
                        data: { id: id, status: stt },
                        success: function (rs) {
                            toastr.success(
                                'Change status success!',
                                'Notification!',
                                {
                                    timeOut: 1000,
                                    fadeOut: 1000,
                                    onHidden: function () {
                                        window.location.reload();
                                    }
                                }
                            );
                        }
                    });
                }
            });
        });
    </script>
}
