@{ var customer = Session["customer"] as VSMS.Models.DataModels.Member;}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from websmirno.site/carleader/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Oct 2021 20:33:24 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="CarLeader - Responsive HTML5 Template">
    <link rel="shortcut icon" href="~/Content/ico/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-ffit=no">
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
    <title>@ViewBag.Title - CarLeader</title>
    <style>
        input {
            outline: none;
        }
    </style>
</head>
<body>
    <!-- tt-mobile menu -->
    <nav class="panel-menu" id="mobile-menu">
        <!--for rtl add class mm-right-->
        <ul>
        </ul>
        <div class="mm-navbtn-names">
            <div class="mm-closebtn">Close</div>
            <div class="mm-backbtn">Back</div>
        </div>
    </nav>
    <header id="tt-header" class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "tt-on-top" : "") tt-header-01">
        <!-- quickLinks -->
        <div class="tt-quickLinks-popup">
        </div>
        <div class="tt-mobile-quickLinks">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col">
                        <a class="btn-toggle" href="#"><i class="icon-149984"></i></a>
                        <div class="quickLinks-layout">
                            <div class="quickLinks-map">
                                <address>
                                    <i class="icon-149984"></i>238 HQV, CN, CG, Hanoi, VN
                                </address>
                                <div id="googleMapHeader" class="google-map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <a class="btn-toggle" href="#"><i class="icon-15874"></i></a>
                        <div class="quickLinks-layout">
                            <div class="quickLinks-address">
                                <h6 class="tt-title">Call Us:</h6>
                                <ul>
                                    <li>
                                        <a href="#"><i class="icon-15874"></i> +01 123 456 78</a>
                                    </li>
                                    <li>
                                        <i class="icon-icon"></i> 9:00 AM – 8:00 PM
                                    </li>
                                    <li>
                                        <a href="mailto:info@youremal.com"><i class="icon-mail"></i> info@youremal.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <a data-toggle="modal" data-target="#modalAddYourItem" class="btn-toggle no-popup" href="#"><i class="icon-addcar"></i></a>
                    </div>
                    <div class="col tt-account">
                        <a class="btn-toggle is-popup tt-account" href="#">
                            <i class="icon-user"></i>
                        </a>
                        <div class="tt-dropdown-menu">
                            <div class="tt-row-close">
                                <a href="#" class="tt-btn-close icon-close"></a>
                            </div>
                            <ul>
                                <li><a href="#">Account</a></li>
                                <li><a href="#">Sign In</a></li>
                                <li><a href="#">Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col tt-searcher">
                        <a class="btn-toggle is-popup tt-searcher" href="#">
                            <i class="icon-musica-searcher"></i>
                        </a>
                        <div class="tt-dropdown-menu">
                            <div class="container">
                                <form>
                                    <div class="tt-row-search">
                                        <input type="text" class="tt-search-input" placeholder="Type your search request...">
                                        <button class="tt-btn-search" type="submit"></button>
                                        <button class="tt-btn-close icon-g-80"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col tt-cart">
                        <a class="btn-toggle is-popup" href="#">
                            <i class="icon-cart tt-cart"></i>
                        </a>
                        <div class="tt-dropdown-menu">
                            <h6 class="tt-dropdown-title">
                                <a href="#" class="tt-btn-close icon-close"></a>
                                Products in Cart
                            </h6>
                            <div class="tt-search-results">
                                <ul>
                                    <li>
                                        <a href="inventory-item.html">
                                            <div class="thumbnail"><img src="~/Content/images/product/product_img_05.jpg" alt=""></div>
                                            <div class="tt-description">
                                                <div class="tt-title">Bosch 3330 Premium FILTECH Oil </div>
                                                <div class="tt-price">
                                                    $5.23
                                                </div>
                                            </div>
                                        </a>
                                        <span class="tt-close-item icon-close"></span>
                                    </li>
                                    <li>
                                        <a href="inventory-item.html">
                                            <div class="thumbnail"><img src="~/Content/images/product/product_img_08.jpg" alt=""></div>
                                            <div class="tt-description">
                                                <div class="tt-title">Autolite XP5325 Iridium XP Spark Plug, Pack of 4</div>
                                                <div class="tt-price">
                                                    $24.61
                                                </div>
                                            </div>
                                        </a>
                                        <span class="tt-close-item icon-close"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="tt-search-bottom">
                                <div class="price-total">
                                    <label>Total:</label>
                                    <div class="tt-price">$29.84</div>
                                </div>
                                <a href="#" class="btn">CHECKOUT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- panel-info -->
        <div class="tt-panel-info">
            <div class="container">

                <div class="row no-gutters align-items-center">
                    <div class="col-auto mr-auto">
                        <ul class="tt-box-info">
                            <li><i class="icon-149984"></i>238 HQV, CN, CG, Hanoi, VN</li>
                            <li><a href="#"><i class="icon-15874"></i><strong>Call Us:</strong> +01 123 456 78</a></li>
                            <li><i class="icon-icon"></i>9:00 AM – 8:00 PM</li>
                        </ul>
                    </div>
                    <div class="col-auto">
                        <div class="tt-language">
                            <div class="tt-skinSelect-02">
                                <select class="tt-select">
                                    <option value="ENG">ENG</option>
                                    <option value="RUS">RUS</option>
                                </select>
                            </div>
                        </div>
                        <div class="tt-dropdown-obj tt-account">
                            <a href="#" class="tt-dropdown-toggle">
                                <i class="icon-user"></i>
                            </a>
                            <div class="tt-dropdown-menu">
                                <div class="tt-row-close">
                                    <a href="#" class="tt-btn-close icon-close"></a>
                                </div>
                                <div>
                                    <i class="icon-user"></i>
                                    @{ if (customer != null)
                                        {@customer.UserName }}
                                </div>
                                <hr style="margin: 0" />
                                <ul>
                                    @{ if (customer == null)
                                        {
                                            <li><a href="#" data-toggle="modal" data-target="#SiginModal">Sign In</a></li>
                                        }}
                                    @{ if (customer != null)
                                        {
                                            <li><a href="@Url.Action("Index","ManagerMember",new { id = customer.Id  })">Account</a></li>
                                            <li><a href="@Url.Action("Logout","Register")">Sign Out</a></li>
                                        }}
                                </ul>
                            </div>
                        </div>
                        <div class="tt-dropdown-obj tt-compare compare-toggle">
                            <a href="#" class="tt-dropdown-toggle">
                                <i class="icon-compare"></i>
                            </a>
                        </div>
                        <div class="tt-dropdown-obj tt-cart">
                            <a href="#" class="tt-dropdown-toggle">
                                <i class="icon-cart"></i>
                            </a>
                            <div class="tt-dropdown-menu">
                                <h6 class="tt-dropdown-title">
                                    <a href="#" class="tt-btn-close icon-close"></a>
                                    Products in Cart
                                </h6>
                                <div class="tt-search-results">
                                    <ul>
                                        <li>
                                            <a href="inventory-item.html">
                                                <div class="thumbnail"><img src="~/Content/images/product/product_img_05.jpg" alt=""></div>
                                                <div class="tt-description">
                                                    <div class="tt-title">Bosch 3330 Premium FILTECH Oil </div>
                                                    <div class="tt-price">
                                                        $5.23
                                                    </div>
                                                </div>
                                            </a>
                                            <span class="tt-close-item icon-close"></span>
                                        </li>
                                        <li>
                                            <a href="inventory-item.html">
                                                <div class="thumbnail"><img src="~/Content/images/product/product_img_08.jpg" alt=""></div>
                                                <div class="tt-description">
                                                    <div class="tt-title">Autolite XP5325 Iridium XP Spark Plug, Pack of 4</div>
                                                    <div class="tt-price">
                                                        $24.61
                                                    </div>
                                                </div>
                                            </a>
                                            <span class="tt-close-item icon-close"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tt-search-bottom">
                                    <div class="price-total">
                                        <label>Total:</label>
                                        <div class="tt-price">$29.84</div>
                                    </div>
                                    <a href="#" class="btn">CHECKOUT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-holder -->
        <div class="header-holder">
            <div class="container">
                <div class="row">
                    <!--logo-->
                    <div class="col-logo">
                        <a class="tt-logo" href="index.html">
                            <img class="tt-logo-light svg-img" src="~/Content/images/logo.svg" alt="">
                            <img class="tt-logo-dark svg-img" src="~/Content/images/logo-dark.svg" alt="">
                        </a>
                    </div>
                    <!--desctope-menu-->
                    <div class="col-menu col-auto mr-auto ">
                        <div class="tt-desctop-menu" id="tt-desctop-menu">
                            <nav>
                                <ul>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "is-active" : "")">
                                        <a href="@Url.Action("Index","Home")">HOME</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "is-active" : "")">
                                        <a href="@Url.Action("About","Home")">ABOUT US</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Services" ? "is-active" : "")">
                                        <a href="@Url.Action("Services","Home")">SERVICES</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Inventory" ? "is-active" : "")">
                                        <a href="@Url.Action("Inventory","Home")">INVENTORY</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Blog" ? "is-active" : "")">
                                        <a href="@Url.Action("Blog","Home")">BLOG</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Shop" ? "is-active" : "")">
                                        <a href="@Url.Action("Shop","Home")">SHOP</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Faq" ? "is-active" : "")">
                                        <a href="@Url.Action("Faq","Home")">FAQ</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "is-active" : "")">
                                        <a href="@Url.Action("Contact","Home")">CONTACTS</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--btn toggle mobile menu-->
                    <div class="col-menu-toggle col-auto">
                        <a href="#" class="tt-menu-toggle icon-menu"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- stuck nav -->
        <div id="tt-stuck">
            <div class="container">
                <div class="tt-stuck-row">

                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer id="tt-footer">
        <div class="tt-footer-layout">
            <div class="container">
                <div class="row justify-content-center">
                    <div id="tt-footer-menu">

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-auto">
                        <a class="tt-logo" href="index.html">
                            <img class="tt-logo-dark svg-img" src="~/Content/images/logo.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="tt-row-custom">
                    <div class="tt-col">
                        <ul class="tt-list-info">
                            <li>
                                <i class="icon-149984"></i>
                                3261 Anmoore Road, Brooklyn, NY 11230
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-15874"></i>
                                    +01 123 456 78
                                </a>
                            </li>
                            <li>
                                <a href="mailto:info@youremal.com">
                                    <i class="icon-mail"></i>
                                    info@youremal.com
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tt-col">
                        <div class="tt-box-info">
                            <div class="tt-item">
                                <h6 class="tt-ttile"><i class="icon-icon"></i>Sales Department</h6>
                                <ul>
                                    <li>Mon-Sat : 8:00am - 5:00pm</li>
                                    <li>Sunday is closed</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tt-col">
                        <div class="tt-box-info">
                            <div class="tt-item">
                                <h6 class="tt-ttile"><i class="icon-icon"></i>Service Department</h6>
                                <ul>
                                    <li>Mon-Sat : 8:00am - 5:00pm</li>
                                    <li>Sunday is closed</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tt-col">
                        <div class="tt-box-info">
                            <div class="tt-item">
                                <h6 class="tt-ttile"><i class="icon-mail1"></i>NEWSLETTER</h6>
                                <form id="newsletterform" method="post" novalidate="novalidate" action="#">
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control" placeholder="enter your email to subscribe">
                                    </div>
                                    <button type="submit" class="tt-btn">SUBSCRIBE</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-auto">
                        <ul class="tt-social-icon">
                            <li><a href="https://www.facebook.com/" target="_blank" class="icon-226234"></a></li>
                            <li><a href="https://twitter.com/" target="_blank" class="icon-8800"></a></li>
                            <li><a href="https://www.google.com/" target="_blank" class="icon-733613"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tt-footer-copyright">
            <div class="container">
                <span>&copy; Copyright 2018 Car Leader</span> <a href="#">PRIVACY POLICY</a>
            </div>
        </div>
    </footer>
    <a href="#" id="ttBackToTop" class="tt-back-to-top">BACK TO TOP</a>
    <!-- modal (AddToCartProduct) -->
    <!-- compareSlide -->
    <div id="compareSlide" class="layout-slide">
        <div class="slide-content">
            <div class="slide-title">
                <h6 class="title">Compare Vehicles</h6>
                <a class="btn-close-slide icon-close"></a>
            </div>
            <div class="tt-wrapper-col">
                <div class="col-value">
                    <ul>
                        <li>Price:</li>
                        <li>Make</li>
                        <li>Model</li>
                        <li>MILEAGE:</li>
                        <li>FUEL TYPE:</li>
                        <li>YEAR:</li>
                        <li>TRANSMission:</li>
                        <li>Drive Type:</li>
                        <li>Color:</li>
                        <li>Int. Color:</li>
                        <li>VIN:</li>
                        <li>Engine:</li>
                        <li>Stock number:</li>
                        <li>Features &amp; Options</li>
                    </ul>
                </div>
                <div class="col-item">
                    <a href="#" class="item-close"><i class="icon-close"></i></a>
                    <div class="img-obj"><img src="~/Content/images/product_02/product_02_img_02.jpg" alt=""></div>
                    <ul>
                        <li class="value-item value-select">$99,625</li>
                        <li class="value-item">Lehus</li>
                        <li class="value-item">LX 570</li>
                        <li class="value-item">0 miles</li>
                        <li class="value-item">Gas</li>
                        <li class="value-item">2018</li>
                        <li class="value-item">Automatic</li>
                        <li class="value-item">Front Wheel Drive</li>
                        <li class="value-item">Jet Black</li>
                        <li class="value-item">Cabernet Premium Leather</li>
                        <li class="value-item">JTJHY7AX6H4250229</li>
                        <li class="value-item">V6 EcoBoost TT</li>
                        <li class="value-item">252832</li>
                        <li class="value-item value-multy">
                            2-Stage Unlocking Doors,
                            ABS: 4-Wheel,Active Head
                            Restraints: Dual Front,
                            Air Conditioning, Air
                            Filtration, Airbag
                            Deactivation: Occupant
                            Sensing Passenger,
                            Ambient Lighting, Antenna
                            Type: Diversity, Anti-Theft
                            System:2-Stage Unlocking Doors,
                            ABS: 4-Wheel,Active Head
                            2-Stage Unlocking Doors,
                            ABS: 4-Wheel,Active Head
                        </li>
                    </ul>
                </div>
                <div class="col-item">
                    <a href="#" class="item-close"><i class="icon-close"></i></a>
                    <div class="img-obj"><img src="~/Content/images/product_02/product_02_img_03.jpg" alt=""></div>
                    <ul>
                        <li class="value-item value-select">$48,430</li>
                        <li class="value-item">Volve</li>
                        <li class="value-item">XC60</li>
                        <li class="value-item">0 miles</li>
                        <li class="value-item">Gas</li>
                        <li class="value-item">2018</li>
                        <li class="value-item">Automatic</li>
                        <li class="value-item">Front Wheel Drive</li>
                        <li class="value-item">Jet Black</li>
                        <li class="value-item">Cabernet Premium Leather</li>
                        <li class="value-item">JTJHY7AX6H4250229</li>
                        <li class="value-item">V6 EcoBoost TT</li>
                        <li class="value-item">215838</li>
                        <li class="value-item value-multy">
                            2-Stage Unlocking Doors,
                            ABS: 4-Wheel,Active Head
                            Restraints: Dual Front,
                            Air Conditioning, Air
                            Filtration, Airbag
                            Deactivation: Occupant
                            Sensing Passenger,
                            Ambient Lighting, Antenna
                            Type: Diversity, Anti-Theft
                            System:
                        </li>
                    </ul>
                </div>
                <div class="col-item">
                    <a href="#" class="item-close"><i class="icon-close"></i></a>
                    <div class="img-obj"><img src="~/Content/images/product_02/product_02_img_06.jpg" alt=""></div>
                    <ul>
                        <li class="value-item value-select">$27,850</li>
                        <li class="value-item">Nesen</li>
                        <li class="value-item">Almera</li>
                        <li class="value-item">80,000 miles</li>
                        <li class="value-item">Gas</li>
                        <li class="value-item">2017</li>
                        <li class="value-item">Automatic</li>
                        <li class="value-item">Front Wheel Drive</li>
                        <li class="value-item">Jet Black</li>
                        <li class="value-item">Cabernet Premium Leather</li>
                        <li class="value-item">JTJHY7AX6H4250229</li>
                        <li class="value-item">V6 EcoBoost TT</li>
                        <li class="value-item">112532</li>
                        <li class="value-item value-multy">
                            2-Stage Unlocking Doors,
                            ABS: 4-Wheel,Active Head
                            Restraints: Dual Front,
                            Air Conditioning, Air
                            Filtration, Airbag
                            Deactivation: Occupant
                            Sensing Passenger,
                            Ambient Lighting, Antenna
                            Type: Diversity, Anti-Theft
                            System:
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @* Modal show sigin *@

    <div class="modal fade" id="SiginModal" tabindex="-1" role="dialog" aria-labelledby="SiginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 500px ">
            <div class="modal-content">
                <div class="login-wrap">
                    <div class="login-html">
                        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                        <div class="login-form">
                            @Html.Partial("_PartialSignIn")
                            @Html.Partial("_PartialSignUp")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Toastr alert*@
    <div>
        <input type="hidden" id="success" value="@TempData["success"]" />
        <input type="hidden" id="info" value="@TempData["info"]" />
        <input type="hidden" id="warning" value="@TempData["warning"]" />
        <input type="hidden" id="error" value="@TempData["error"]" />
    </div>

    @* Modal Test Driver *@
    @if (customer != null)
    {
        <div class="modal fade" id="modalAddTestDrive" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content ">
                    <div class="modal-body modal-layout-dafault">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon-close"></span></button>
                        <h5 class="modal-title">Book a Test Drive</h5>
                        <p class="tt-default-color02">
                            Please complete the form below and an we will contact you to arrange your test drive.
                        </p>
                        <form>
                            <div class="tt-form-default02">
                                <input type="text" name="IdCar" hidden id="IdCar" value="" />
                                <div class="form-group">
                                    <input type="text" name="@customer.FullName" value="@customer.FullName" readonly class="form-control" placeholder="Your name*">
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <input type="email" name="@customer.Email" value="@customer.Email" readonly class="form-control" placeholder="E-mail*">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="@customer.Phone" value="@customer.Phone" class="form-control" readonly placeholder="Phone #">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="tt-title">Preferred date and time of Test Drive</h6>
                            <div class="tt-row-calendar tt-form-default tt-skinSelect-01">
                                <input type="text" name="name" class="form-control" placeholder="12 / 12 / 2018">
                            </div>
                            <ul class="list-form-column">
                                <li>
                                    <div class="checkbox-group">
                                        <input type="checkbox" id="checkBox12" name="checkbox" checked>
                                        <label for="checkBox12">
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            I AGREE TO RECEIVE EMAILS FROM CAR LEADER
                                        </label>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" id="submitDriveTest" class="btn">SUBMIT</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

    <script src="~/Scripts/external/jquery/jquery.min.js"></script>
    <script src="~/Scripts/external/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Scripts/external/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/Scripts/external/elevatezoom/jquery.elevatezoom.js"></script>
    <script src="~/Scripts/external/slick/slick.min.js"></script>
    <script src="~/Scripts/external/panelmenu/panelmenu.js"></script>
    <script src="~/Scripts/external/isotope/imagesloaded.js"></script>
    <script src="~/Scripts/external/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/external/sumoselect/jquery.sumoselect.min.js"></script>
    <script src="~/Scripts/external/countdown/jquery.countto.js"></script>
    <script src="~/Scripts/external/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Scripts/external/noUiSlider/nouislider.min.js"></script>
    <script src="~/Scripts/external/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script src="~/Scripts/js/main.js"></script>
    <!-- form validation and sending to mail -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/external/form/jquery.form.js"></script>
    <script src="~/Scripts/external/form/jquery.validate.min.js"></script>
    <script src="~/Scripts/external/form/jquery.form-init.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/js/script.js"></script>
    <script src="~/Areas/Admin/Content/dist/js/script.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).on("click", "#open-Modal", function () {
            var id = $(this).data('id');
            $(".tt-form-default02 #IdCar").val(id);
        });
        $("#submitDriveTest").click(function () {

        });
    </script>
</body>

<!-- Mirrored from websmirno.site/carleader/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Oct 2021 20:35:00 GMT -->
</html>
