@{var customer = Session["customer"] as VSMS.Models.DataModels.Member; }
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from websmirno.site/carleader/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Oct 2021 20:33:24 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="CarLeader - Responsive HTML5 Template">
    <link rel="shortcut icon" href="~/Content/ico/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-ffit=no">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
    <title>@ViewBag.Title - CarLeader</title>
    <style>
        input {
            outline: none;
        }
        .nav-item .nav-link.active {
            background-color: #dd3d53;
            color: #ffffff;
            border-radius: 5px;
        }
        .nav-item a {
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: #dd3d53;
        }
        label {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <!-- tt-mobile menu -->
    <nav class="panel-menu" id="mobile-menu">
        <!--for rtl add class mm-right-->
        <ul>
        </ul>
        <div class="mm-navbtn-names">
            <div class="mm-closebtn">Close</div>
            <div class="mm-backbtn">Back</div>
        </div>
    </nav>
    <header id="tt-header" class="tt-header-01">
        <!-- quickLinks -->
        <div class="tt-quickLinks-popup">
        </div>

        <!-- header-holder -->
        <div class="header-holder">
            <div class="container">
                <div class="row">
                    <!--logo-->
                    <div class="col-logo">
                        <a class="tt-logo" href="index.html">
                            <img class="tt-logo-light svg-img" src="~/Content/images/logo.svg" alt="">
                            <img class="tt-logo-dark svg-img" src="~/Content/images/logo-dark.svg" alt="">
                        </a>
                    </div>
                    <!--desctope-menu-->
                    <div class="col-menu col-auto mr-auto ">
                        <div class="tt-desctop-menu" id="tt-desctop-menu">
                            <nav>
                                <ul>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "is-active" : "")">
                                        <a href="@Url.Action("Index","Home")">HOME</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "is-active" : "")">
                                        <a href="@Url.Action("About","Home")">ABOUT US</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Services" ? "is-active" : "")">
                                        <a href="@Url.Action("Services","Home")">SERVICES</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Inventory" ? "is-active" : "")">
                                        <a href="@Url.Action("Inventory","Home")">INVENTORY</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Blog" ? "is-active" : "")">
                                        <a href="@Url.Action("Blog","Home")">BLOG</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Shop" ? "is-active" : "")">
                                        <a href="@Url.Action("Shop","Home")">SHOP</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Faq" ? "is-active" : "")">
                                        <a href="@Url.Action("Faq","Home")">FAQ</a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "is-active" : "")">
                                        <a href="@Url.Action("Contact","Home")">CONTACTS</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--btn toggle mobile menu-->
                    <div class="col-menu-toggle col-auto">
                        <a href="#" class="tt-menu-toggle icon-menu"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- stuck nav -->
        <div id="tt-stuck">
            <div class="container">
                <div class="tt-stuck-row">

                </div>
            </div>
        </div>
    </header>

    <div class="tt-breadcrumb">
        <div class="container">
            <ul>
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li>account manager</li>
            </ul>
        </div>
    </div>
    <div id="tt-pageContent" style="margin-bottom: 50px">
        <div class="container">
            <div>
                <div class="tt-block-title tt-sub-pages">
                    <h1 class="tt-title">@((@ViewBag.NameTitle != null) ? @ViewBag.NameTitle : "")</h1>
                    <div class="tt-description">Read your information</div>
                    <hr style="margin: 15px 0;" />
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <!-- Tabs nav -->
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" href="@Url.Action("Index","ManagerMember", new { id = customer.Id})">Index</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Profile" ? "active" : "")" href="@Url.Action("Profile","ManagerMember", new { id = customer.Id})">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "ChangePassword" ? "active" : "")" href="@Url.Action("ChangePassword","ManagerMember", new { id = customer.Id})">Change Password</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Email" ? "active" : "")" href="@Url.Action("Email","ManagerMember", new { id = customer.Id})">Email</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "MyDriveTest" ? "active" : "")" href="@Url.Action("MyDriveTest","ManagerMember", new { id = customer.Id})">My Drive Test</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="@Url.Action("Logout","Register") ">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <!-- Tabs content -->
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="ttBackToTop" class="tt-back-to-top">BACK TO TOP</a>

    @*Toastr alert*@
    <div>
        <input type="hidden" id="success" value="@TempData["success"]" />
        <input type="hidden" id="info" value="@TempData["info"]" />
        <input type="hidden" id="warning" value="@TempData["warning"]" />
        <input type="hidden" id="error" value="@TempData["error"]" />
    </div>

    <script src="~/Scripts/external/jquery/jquery.min.js"></script>
    <script src="~/Scripts/external/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/external/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/Scripts/external/slick/slick.min.js"></script>
    <script src="~/Scripts/external/panelmenu/panelmenu.js"></script>
    <script src="~/Scripts/external/isotope/imagesloaded.js"></script>
    <script src="~/Scripts/external/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/external/sumoselect/jquery.sumoselect.min.js"></script>
    <script src="~/Scripts/external/countdown/jquery.countto.js"></script>
    <script src="~/Scripts/external/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Scripts/external/noUiSlider/nouislider.min.js"></script>
    <script src="~/Scripts/external/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="~/Scripts/js/main.js"></script>
    <!-- form validation and sending to mail -->
    <script src="~/Scripts/external/form/jquery.form.js"></script>
    <script src="~/Scripts/external/form/jquery.validate.min.js"></script>
    <script src="~/Scripts/external/form/jquery.form-init.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/js/script.js"></script>
    <script src="~/Areas/Admin/Content/dist/js/script.js"></script>
    @RenderSection("scripts", required: false)
</body>

<!-- Mirrored from websmirno.site/carleader/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Oct 2021 20:35:00 GMT -->
</html>
